
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h3{
    margin-bottom: 5px;
}
.bodyFlex{
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #fdfffe;
}

.profilePic{
    width: 200px;
    border-radius: 100px;
}

.universityPicture{
    width: 200px;
}

.left-section {
	position: initial;
	background-color: rgb(126, 219, 231);
	padding: 20px;

}

.right-section {
	position: initial;
	background-color: rgb(162, 202, 206);
	padding: 20px;

}
.foreignLanguage, 
.personalDetails,
.Education{
	margin-bottom: 30px;
}

/* Large screen */
@media (min-width:960px) {
    .containerDivider {
        display: grid;
        grid-template-columns: 3fr 4fr;
        width: 80%;
        min-height: 100px;
        background-color: rgb(245, 239, 231);
        margin: 0px;
        
    }

}